set -a
test -f .env.local && . .env.local
echo "User provider=${PROVIDER}"
test -f .env.${PROVIDER} && . .env.${PROVIDER}
set +a

export PORT=$(port-selector)
export BOT_TOKEN=$(pass show kuznik_auto_bot_token)

export PROTOCOL=https
export HOST=${PORT}.${DOMAIN}
export URL=${PROTOCOL}://${HOST}
export ADMIN_URL=${PROTOCOL}://admin.${HOST}
export DEMO_ACCOUNT_URL=${PROTOCOL}://${DEMO_ACCOUNT}.${HOST}
