set -a
test -f .env.local && . .env.local
echo "User provider=${PROVIDER}"
. .env.${PROVIDER}
set +a

export PORT=$(port-selector)
export BOT_TOKEN=$(pass show kuznik_auto_bot_token)

export PROTOCOL=https
export HOST=${PORT}.${DOMAIN}
export URL=${PROTOCOL}://${HOST}
