<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field field-row" style="display: flex; gap: 1rem;">
  <% resource = f.object %>
  <% field.fields_config.each do |field_name| %>
    <% field_class = field.field_types[field_name] || Administrate::Field::String %>
    <% sub_field = field_class.new(field_name, resource.send(field_name), field.page) %>
    <div style="flex: 1;">
      <label for="<%= "#{f.object_name}_#{sub_field.permitted_attribute}" %>" style="display: block; margin-bottom: 0.25rem; font-weight: 500;">
        <%= t("activerecord.attributes.#{resource.class.name.underscore}.#{field_name}", default: field_name.to_s.humanize) %>
      </label>
      <%= f.select(sub_field.permitted_attribute,
                   options_for_select(sub_field.associated_resource_options, sub_field.selected_option),
                   { include_blank: sub_field.include_blank_option },
                   data: { controller: sub_field.html_controller }) %>
    </div>
  <% end %>
</div>
